
#menu ul {
 width:780px;
 margin:auto;
 padding:0;
 list-style-type:none;
 text-align:center;
 }
#menu li {
 float:left;
 margin:auto;
 padding:0;
 background-color:#0074D9;
 }
#menu li a {
 display:block;
 width:100px;
 color:white;
 text-decoration:none;
 padding:15px;
 }
#menu li a:hover {
 color:#FFD700;
 }
#menu ul li ul {
 display:none;
 }
 #menu ul li:hover ul {
 display:block;
 }
#menu li:hover ul li {
 float:none;
 }
 #menu li ul {
 position:absolute;
 width:auto;
 }
 #EWTS-CO h1 {
 text-align:center;
 color:#0074D9;
 }
 #EWTS-CO p {
 text-align:center;
 }
 #date h1 {
 text-align:center;
 color:#0074D9;
 }
 #date p {
 text-align:center;
 }
 #connexion h1 {
 text-align:center;
 color:#0074D9;
 }
#connexion p {
 text-align:center;
 }
